.log-in {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}
.username {
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid;
}
.password {
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid;
}
.main-picutre {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.index-mari {
  width: 400px;
  height: 300px;
  border: 1px solid;
  border-color: aquamarine;
}
