.index-page__box {
  display: flex;
  border: 1px solid;
  width: 600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-color: rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}
.index-page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.main-picutre {
  margin-top: 50px;
}
.index-mari {
  width: 360px;
  height: 270px;
  border: 1px solid;
  border-color: black;
  margin-bottom: 20px;
}
.log-in {
  display: flex;
  flex-direction: column;
}
.username {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid;
}
.password {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid;
}
.different-type {
  display: flex;
  justify-content: space-between;
}
