.index-page__box {
  display: flex;
  border: 1px solid;
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-color: rgba(0, 0, 0, 0.3);
}
.index-page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.main-picutre {
  margin-top: 100px;
}
.index-mari {
  width: 400px;
  height: 300px;
  border: 1px solid;
  border-color: black;
}
.log-in {
  display: flex;
  flex-direction: column;
}
.username {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid;
}
.password {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid;
}
